.main-content {
  /* border: 1px solid #000; */
  width: 569px;
  display: inline-block;
  vertical-align: top;
  margin: 0 40px;
}

.content-tab {
  width: 100%;
  text-align: left;
  padding-top: 32px;
  box-sizing: border-box;
}

.content-tab img {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.content-tab span {
  font-size: var(--font-size-xxlarge);
  font-weight: bold;
}

.post {
  box-sizing: border-box;
  width: 569px;
  padding: 12px 16px;
  background-color: var(--color-white);
  margin: 20px 0;
  border-radius: var(--common-border-radius);
  border: solid 1px var(--color-border-post);
}

.post-profile {
  float: left;
  text-align: center;
  height: 32px;
  margin-bottom: 6px;
}

.post-profile span {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.post-buttons {
  float: right;
  text-align: center;
  height: 32px;
}

.post-buttons img {
  margin-top: 6px;
  width: 12px;
  height: 12px;
}

.post-header {
  width: 100%;
  margin-top: 15px;
}

.post-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-content {
  width: 100%;
}

.post-image {
  width: 100%;
  object-fit: cover;
}

.post-content p {
  line-height: 20px;
  height: 40px;
  overflow: scroll;
  text-align: left;
}

.post-timestamp {
  font-size: var(--font-size-xsmall);
  color: var(--color-text-light);
  text-align: left;
}
